.flex-container {
  display: flex;
  flex-direction: row;
  /* padding: 0 30px; */
  /* width: 1124px; */
  /* margin: 24px 195px; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  justify-content: space-between;
}

.flex-left {
  width: 65%;
  margin: 5px;

  border-radius: 10px;
}

.flex-right {
  width: 30%;
  margin: 5px;
}
.box-design {
  background-color: #fff;
  border-radius: 5px;
}

/* Class for background color and padding for every section  */
.section-design {
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid white;
  margin-bottom: 12px;
}

.title {
  color: #191919;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}
h1,
h3 {
  color: black;
  margin: 0px;
}
body {
  background-color: #f3f2ef;
  color: rgba(0, 0, 0, 0.6);
  font-family: system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
    Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Lucida Grande, Helvetica,
    Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  margin: 0px;
  margin-bottom: 20px;
}

.companyinfo-block {
  position: relative;
  padding: 0px;
}

.cover-img img {
  height: 150px;
  width: 100%;
}

.company-logo img {
  position: absolute;
  height: 100px;
  top: 22%;
  left: 5%;
}

.company-details {
  padding-top: 10px;
  padding-left: 30px;
  background-color: #ffffff;
}

.company-details h1 {
  color: black;
}
.title {
  margin-top: 40px;
}

.linkedin-employees a {
  color: rgba(0, 0, 0, 0.6);
}
.company-details-buttons {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
}
.follow-button {
  background-color: #0a66c2;
  border: none;
  color: white;
  padding: 6px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 20px;
  cursor: pointer;
}
.visit-website-btn {
  background-color: #fff;
  border: 1px solid #0a66c2;
  color: #0a66c2;
  padding: 6px 35px;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 20px;
}

.more-btn {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.6);
  padding: 6px 19px;
  margin: 4px 2px;
  border-radius: 20px;
}

.navbar-homepage {
  background-color: #fff;
  display: flex;

  align-items: center;
}

/* changing the default nav bar color */
.navbar-homepage a {
  color: #e7e7e7;
}

.navbar-homepage ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar-homepage ul li a {
  color: rgba(0, 0, 0, 0.6);
  padding-right: 24px;
  display: block;
}

/* about section - left flexbox */

.see-all-details {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

/* ---------------------------------------------------- */
/* left flexbox last section -- Insights on thoughtbot */
/* ---------------------------------------------------- */

.insights-section {
}

.company-growth {
  display: flex;
  flex-direction: row;
}

.headcount-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 55%;
}

.employee-joined {
  height: 50px;
  border-radius: 35px;
}
.recent-hires {
  width: 45%;
}
.recent-hires h4,
p {
  margin: 0px;
}

.insights-section-lowerpart {
  display: flex;
  flex-direction: row;
}
.insights-section-lowerpart-flex {
  width: 50%;
  padding: 12px 0px;
}
.insights-section-lowerpart-flex h4 {
  margin: 0px;
}
.insights-section-lowerpart-flex button {
  background-color: #f8c77e;
  border: none;
  color: grba(0, 0, 0, 0.9);
  padding: 6px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 40px;
  border-radius: 20px;
  cursor: pointer;
}

/* Right flexbox */
/* ------------------------------------------------------- */
/* Right flexbox add section */
.adds-images {
  height: 250px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
/* Other similar companies in right flexbox  */

.company-page {
  padding: 12px 0px;
}

.other-company-details {
  display: flex;
  flex-direction: row;
}

.companypage-details h3,
p {
  margin: 0px;
}

.other-company-image {
  height: 50px;
}
.follow-other-companybtn {
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.6);
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 48px;
  border-radius: 20px;
  cursor: pointer;
}

.similar-pages {
  margin: 10px 75px;
}

/* Main navbar css */
/*----------------------------------------------------------------*/
.header-navbar {
  width: 100%;
  background-color: #fff;
}

.main-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 1124px;
  padding: 6px 24px;
}
input {
  position: top left;
  height: 30px;
  padding-left: 25px;
}
.navbar-leftflex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.linkedin-logo {
  margin-right: 10px;
}

.navbar-searchbox input {
  height: 34px;
  width: 280px;
  background-color: #eef3f8;
  border: none;
  border-radius: 5px;
}
.right-flexbox {
  width: max-content;
}

.rightflexbox-icons ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.rightflexbox-icons ul li {
  list-style: none;
}
li a img {
  width: 24px;
  height: 24px;
  border-radius: 15px;
}

.navbar-icon-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  justify-content: center;
  height: 100%;
}
.sm-search-icon {
  display: none;
}

.navbar-icon-links p {
  font-size: 11px;
}
.navbar-work-border {
  border-left: 1px solid #ccc;
}

.try-permium {
  width: 80px;
}
/* ----------------------------------------------- */
/* Recent Job Opening Section */
/* ----------------------------------------------- */
.recent-jobs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.job-opening {
  display: flex;
  flex-direction: row;
}

.job-image img {
  height: 48px;
  width: 48px;
}
.job-title-location h4 {
  margin: 0px;
}
.all-jobs-opening {
  text-align: center;
}
/* ----------------------------------------------- */
/* Recently posted videos */
/* ----------------------------------------------- */

.posted-videos-flex {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}
.video-box {
  position: relative;
  height: fit-content;
  width: max-content;
}
.video-play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  align-items: center;
  width: 25px;
  height: 25px;
  background: black;
  border-radius: 50%;
  padding: 8px;
  border: 1px solid black;
}

.posted-videos-text p {
  padding-left: 16px;
}
.see-all-videos {
  text-align: center;
}

/* ----------------------------------------------- */
/* setting up classes of font-size & color for different areas */
/* ----------------------------------------------- */
.body-font {
  font-weight: 400;
  font-size: 0.6rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.9);
}
.t-heading {
  font-size: 2rem;
}

.t-24 {
  font-size: 2.5rem;
}
.title-font {
  font-size: 100%;
}
.t-16 {
  font-size: 1.6rem;
  font-weight: 400;
}
.text-14 {
  font-size: 1.4rem;
  line-height: 1.42857;
}

.t-bold {
  font-weight: 600;
}
.text-color {
  color: rgba(0, 0, 0, 0.6);
}

.text-20 {
  font-size: 2rem;
  line-height: 1.4;
}

/* --------------------------------------------- */
/* padding for entire page  */
/* --------------------------------------------- */

.pt-24 {
  padding-top: 24px;
}
.pt-16 {
  padding-top: 16px;
}

.p-r-l {
  padding-right: 24px;
  padding-left: 24px;
}
.pb-16 {
  padding-bottom: 16px;
}
.pb-24 {
  padding-bottom: 24px;
}
.padding-top-bottom {
  padding-top: 12px;
  padding-bottom: 12px;
}

.job-padding {
  padding-top: 12px;
  padding-bottom: 12px;
}
.padding-insight {
  padding: 12px 16px;
}

/* ----------------------------------------------- */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/* Media queries - mobile view */
/* ----------------------------------------------- */
@media (max-width: 424px) and (min-width: 320px) {
  .flex-container {
    flex-direction: column;
    width: 100%;
  }
  .flex-left {
    width: 100%;
  }
  .flex-right {
    width: 100%;
  }
  .posted-videos-flex {
    flex-direction: column;
  }
  .follow-button {
    background-color: #0a66c2;
    border: none;
    color: white;
    padding: 0px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px 5px;
    border-radius: 20px;
    cursor: pointer;
  }
  .visit-website-btn {
    background-color: #fff;
    border: 1px solid #0a66c2;
    color: #0a66c2;
    padding: 0px 20px;
    font-size: 16px;
    border-radius: 20px;
  }

  .more-btn {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.6);
    color: rgba(0, 0, 0, 0.6);
    padding: 6px 19px;
    border-radius: 20px;
  }
}
@media (max-width: 576px) and (min-width: 424px) {
  .flex-container {
    flex-direction: column;
    width: 100%;
  }
  .flex-left {
    width: 100%;
  }
  .flex-right {
    width: 100%;
  }
  .posted-videos-flex {
    flex-direction: column;
  }
  .follow-button {
    background-color: #0a66c2;
    border: none;
    color: white;
    padding: 0px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px 5px;
    border-radius: 20px;
    cursor: pointer;
  }
  .visit-website-btn {
    background-color: #fff;
    border: 1px solid #0a66c2;
    color: #0a66c2;
    padding: 0px 20px;
    font-size: 16px;
    border-radius: 20px;
  }

  .more-btn {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.6);
    color: rgba(0, 0, 0, 0.6);
    padding: 6px 19px;
    border-radius: 20px;
  }
}

@media (max-width: 768px) and (min-width: 576px) {
  .main-navbar {
    justify-content: space-between;
    margin: auto;
    width: max-content;
    padding: 6px 20px;
  }
  .sm-search-icon {
    display: block;
  }
  .navbar-icon-links {
    width: 70px;
  }
  .navbar-icon-text {
    display: none;
  }

  .navbar-searchbox input {
    display: none;
  }

  .flex-container {
    flex-direction: column;
    width: 576px;
  }
  .flex-left {
    width: 100%;
  }
  .posted-videos-flex {
    flex-direction: column;
  }
  .recent-jobs {
    flex-direction: column;
    width: max-content;
  }
  .recent-hires {
    width: 100%;
  }
  .company-growth {
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
  }
  .headcount-flex {
    width: 100%;
  }
  .flex-right {
    width: 100%;
  }

  .adds-images {
    align-items: center;
  }
  .headcount-flex {
    justify-content: flex-start;
  }
  .median-ventures {
    margin-left: 40px;
  }
  .company-details {
    padding-left: 10px;
  }
  .follow-button {
    background-color: #0a66c2;
    border: none;
    color: white;
    padding: 0px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px 5px;
    border-radius: 20px;
    cursor: pointer;
  }
  .visit-website-btn {
    background-color: #fff;
    border: 1px solid #0a66c2;
    color: #0a66c2;
    padding: 0px 20px;
    font-size: 16px;
    border-radius: 20px;
  }

  .more-btn {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.6);
    color: rgba(0, 0, 0, 0.6);
    padding: 6px 19px;
    border-radius: 20px;
  }
}
/* media query - tablet view */
/* @media (max-width: 560px) {
  .sm-hide {
    display: none;
  }
  .sm-nav-block {
    display: block;
  }
} */

@media (max-width: 991px) and (min-width: 769px) {
  .main-navbar {
    justify-content: space-between;
    margin: auto;
    width: max-content;
    padding: 6px 20px;
  }
  .navbar-icon-links {
    width: 70px;
  }
  .sm-search-icon {
    display: block;
  }

  .navbar-searchbox input {
    display: none;
  }
  .navbar-icon-text {
    display: none;
  }
  .flex-container {
    width: 720px;
    justify-content: space-between;
  }
  .flex-left {
    width: 55%;
  }
  .flex-right {
    width: 42%;
  }
  .adds-images {
    overflow: hidden;
    height: auto;
  }
  .posted-videos-flex {
    flex-direction: column;
  }

  .company-details-buttons {
    flex-wrap: wrap;
  }
  .follow-button {
    padding: 6px 27px;
    margin: 5px 5px;
  }
}

@media (max-width: 1199px) and (min-width: 991px) {
  .flex-container {
    width: 960px;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .flex-container {
    width: 1124px;
    justify-content: space-between;
  }
}
